lib
es
es-legacy
tslib
node_modules
npm-debug.log
test-browser/fixtures/es-modern-bundle.js
test-browser/fixtures/es-legacy-bundle.js
coverage/
test-results
run
.DS_Store
.cache
.eslintcache
