:root {
  font-size: 100%;
}

/* ------------- override css start --------------- */

.sidebar-item > a,
.sidebar-item > button {
  /* stylelint-disable-next-line declaration-no-important */
  font-size: 1rem !important;
}

@media (width <= 768px) {
  .sidebar-item > a,
  .sidebar-item > button {
    /* stylelint-disable-next-line declaration-no-important */
    font-size: 1.125rem !important;
  }
}

/* ------------- override css end --------------- */
