/* ------------- override css start --------------- */

.sidebar-item > a,
.sidebar-item > button {
  align-items: center;
  /* stylelint-disable-next-line declaration-no-important */
  font-size: 20px !important;
}

.sidebar-item > a svg,
.sidebar-item > button svg {
  width: 18px;
  height: 18px;
}

/* ------------- override css end --------------- */
